[submodule "evojax/mnist_tests"]
	path = evojax/mnist_tests
	url = https://github.com/bwoodyear/MnistSimpleCNN
[submodule "flaxmodels"]
	path = flaxmodels
	url = git@github.com:bwoodyear/flaxmodels.git
